@model Shelfish.Models.AuthorModels.AuthorDetail

@{
    ViewBag.Title = "Delete";
}

<h2>Delete an Author</h2>
<br />
<br />
<h3>Are you sure you want to delete this author?</h3>

<br />

<div>
    
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AuthorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryName)
            </th>
        </tr>

        <tr>
            <td>
                @Html.DisplayFor(model => model.AuthorId)
            </td>
            <td>
                @Html.DisplayFor(model => model.Name)
            </td>
            <td>
                @Html.DisplayFor(model => model.CountryName)
            </td>
        </tr>
    </table>

    <br />
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
