@model IEnumerable<Shelfish.Models.ReviewModels.ReviewListItem>

@{
    ViewBag.Title = "Index";
}

<h2> Review Index</h2>
<br />
<br />
<button type="button" class="btn btn-warning btn-lg btn-block">
    <i class="far fa-edit" id="entityIconYellow">@Html.ActionLink("Create New", "Create")</i>
</button>

<br />
@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["SaveResult"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>

    </div>
}

<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ReviewId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedUtc)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ReviewId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ReviewId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ReviewId })
            </td>
        </tr>
    }

</table>
