@model Shelfish.Models.BookshelfModels.AddBookToShelfViewModel

@{
    ViewBag.Title = "AddBooks";
}

<h2>Add Books to Shelf</h2>
<hr />


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Books To Add</h4>
        <br />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.SelectedShelfId)

        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(b => b.SelectedBookId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(b => b.SelectedBookId, Model.BookListItems, "--Select--", new { @class = "form-control" })
                    @Html.ValidationMessageFor(b => b.SelectedBookId, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-outline-success" />
            </div>
        </div>
    </div>
}

<br />
<div>
    @Html.ActionLink("Back To Details", "Details", new { id = Model.SelectedShelfId })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}