@model Shelfish.Models.ViewModels.AudiobookOnShelfDetailView

@{
    ViewBag.Title = "DeleteAudiobook";
}

<h2>Delete Audiobook from Shelf</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        @Html.HiddenFor(model => model.RecordKeeperId)
        <dt>
            @Html.DisplayNameFor(model => model.ShelfId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShelfId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShelfName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShelfName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AudiobookId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AudiobookId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

    </dl>

    <br />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to Details", "Details", new { id = Model.ShelfId })
        </div>
    }
</div>

