@model Shelfish.Models.ViewModels.BookOnShelfDetailView

@{
    ViewBag.Title = "DeleteBook";
}

<h2>Delete Book from Shelf</h2>
<br />
<br />
<h3>Are you sure you want to delete this book from the shelf?</h3>

<br />

<div>
    
    
    <table class="table">
        @Html.HiddenFor(model => model.RecordKeeperId)
        @Html.HiddenFor(model => model.ShelfId)
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShelfName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
        </tr>

        <tr>
            <td>
                @Html.DisplayFor(model => model.ShelfName)
            </td>
            <td>
                @Html.DisplayFor(model => model.BookId)
            </td>
            <td>
                @Html.DisplayFor(model => model.Title)
            </td>
            <td>
                @Html.DisplayFor(model => model.Author)
            </td>
        </tr>
    </table>

    <br />

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to Details", "Details", new { id = Model.ShelfId })
        </div>
    }
</div>
