@model Shelfish.Models.BookshelfModels.BookshelfDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">

        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}

<div>
    <h4>BookshelfDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ShelfId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShelfId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShelfName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShelfName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedUtc)
        </dd>

    </dl>
</div>

<p>
    @Html.ActionLink("Add Book To Shelf", "AddBooks", new { id = Model.ShelfId })
    <br />
    @Html.ActionLink("See All Shelved Books", "BooksOnShelf", new { id = Model.ShelfId})
</p>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ShelfId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
