@model Shelfish.Models.BookshelfModels.BookshelfDetail

@{
    ViewBag.Title = "Details";
}

<h2>Bookshelf Details</h2>

<br />

@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["SaveResult"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>

    </div>
}


<div>

    <br />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShelfId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShelfName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedUtc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedUtc)
            </th>
        </tr>

        <tr>
            <td>
                @Html.DisplayFor(model => model.ShelfId)
            </td>
            <td>
                @Html.DisplayFor(model => model.ShelfName)
            </td>
            <td>
                @Html.DisplayFor(model => model.CreatedUtc)
            </td>
            <td>
                @Html.DisplayFor(model => model.ModifiedUtc)
            </td>
        </tr>
    </table>
</div>

<br />
<div class="container" id="shelfButtons">
    <button type="button" class="btn btn-warning btn-lg btn-block">
        <i class="fas fa-book-open" id="entityIconYellow">@Html.ActionLink(" Add Book To Shelf", "AddBooks", new { id = Model.ShelfId })</i>
    </button>

    <br />

    <button type="button" class="btn btn-info btn-lg btn-block">
        <i class="fas fa-atlas" id="entityIcon">@Html.ActionLink(" See All Shelved Books", "BooksOnShelf", new { id = Model.ShelfId })</i>

    </button>

    <br />

    <button type="button" class="btn btn-warning btn-lg btn-block">
        <i class="fas fa-headphones" id="entityIconYellow">@Html.ActionLink(" Add Audiobook To Shelf", "AddAudiobooks", new { id = Model.ShelfId })</i>

    </button>

    <br />

    <button type="button" class="btn btn-info btn-lg btn-block">
        <i class="fas fa-compact-disc" id="entityIcon">@Html.ActionLink(" See All Shelved Audiobooks", "AudiobooksOnShelf", new { id = Model.ShelfId })</i>

    </button>
</div>

<br />
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ShelfId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
