@model IEnumerable<Shelfish.Models.BookshelfModels.BookshelfListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Bookshelf Index</h2>
<br />
<br />
<button type="button" class="btn btn-warning btn-lg btn-block">
    <i class="fas fa-archive" id="entityIconYellow">@Html.ActionLink("Create New", "Create")</i>
</button>

<br />
@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["SaveResult"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>

    </div>
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ShelfId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShelfName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShelfId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShelfName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedUtc)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ShelfId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ShelfId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ShelfId })
            </td>
        </tr>
    }

</table>
