@model Shelfish.Models.AudiobookModels.AudiobookDetail

@{
    ViewBag.Title = "Details";
}

<h2>Audiobook Details</h2>

<div>
    <h4>AudiobookDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AudiobookId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AudiobookId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SeriesTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeriesTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuthorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Isbn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Isbn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Language)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Language)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Publisher)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Publisher)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NarratorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NarratorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AudioFormat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AudioFormat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsAbridged)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsAbridged)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.AudiobookId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
